.milestones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 8%;
}

.milestones-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 35px;
    border-radius: 10px;
    border: 2px solid white;
    transition: .4s;
}

.milestones-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
}

.milestones-format h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 0; 
    line-height: 1.5;
}

.milestones-format h2 {
    font-size: 28px;
    font-weight: 800;
    max-width: 400px;
    margin: 0; 
    line-height: 1.5;
    background: linear-gradient(270deg,#FF4B4E 50%,#37CDFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.milestones-format p {
    color: #d4d4d4;
    font-size: 18px;
    margin: 0; 
    line-height: 1.5;
    max-width: 400px;
}


.milestones-format:hover {
    border: 2px solid #0095ff;
    background-image: linear-gradient(45deg, #642c2c, #2a525f);
    transform: scale(1.05);
    transition: .4s
}




@media (max-width: 768px) {
    .milestones {
        align-items:center;
        gap: 70px;
        margin: 20px 6%;
    }

    .milestones-format {
        gap: 20px;
        padding: 20px;
    }

    .milestones-format h2 {
        font-size: 20px
    }

    .milestones-format p {
        font-size: 16px;
        line-height: 26px;
        max-width: 300px
    }

    .milestones-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media (max-width: 576px) {
    .milestones {
        align-items: center;
        gap: 50px; /* Reduce gap for smaller screens */
        margin: 15px 4%; /* Smaller margins */
    }

    .milestones-format {
        gap: 15px;
        padding: 45px 45px; /* Compact padding */
    }

    .milestones-format h2 {
        font-size: 24px; /* Adjust heading size */
    }

    .milestones-format p {
        font-size: 18px; /* Smaller text for better fit */
        max-width: 250px; /* Reduce width for smaller screens */
    }

    .milestones-container {
        justify-content: center; /* Center the container horizontally */
        grid-template-columns: 1fr; /* Single-column layout for small screens */
        gap: 25px; /* Adjust gap for compact spacing */
        margin: 0 auto;
    }
}