.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 60px 8%
}


.about-sections{
    display: flex;
    gap: 60px;
}

.about-left img {
    width: 300px;
    border-radius: 10px;
    border: 2px solid #8c8b8b;
    box-shadow: 0px 170px 80px rgba(152, 147, 218, 0.07), 0px 41.7776px 33.4221px rgba(152, 147, 218, 0.0503198), 0px 22.3363px 17.869px rgba(152, 147, 218, 0.0417275), 0px 12.5216px 10.0172px rgba(152, 147, 218, 0.035), 0px 6.6501px 5.32008px rgba(152, 147, 218, 0.0282725), 0px 2.76726px 2.21381px rgba(152, 147, 218, 0.0196802);
    /* box-shadow: 0px 170px 80px rgba(170, 170, 170, 0.159), 0px 41.7776px 33.4221px rgba(170, 170, 170, 0.201), 0px 22.3363px 17.869px rgba(170, 170, 170, 0.0417275), 0px 12.5216px 10.0172px rgba(170, 170, 170, 0.035), 0px 6.6501px 5.32008px rgba(170, 170, 170, 0.0282725), 0px 2.76726px 2.21381px rgba(170, 170, 170, 0.0196802); */
    /* box-shadow: 0 15px 30px rgba(170, 2170, 2170, 0.631); Shadow only on the bottom */

    
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 50px
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
    font-weight: 500
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.about-skill {
    display: flex;
    gap: 20px;
    align-items: center;
    transition: .3s
}

.about-skill p {
    min-width: 130px;
    font-size: 20px;
    font-weight: 500
}

.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg,#DF8908 -5.09%,#B415FF 106.28%)
}

.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}



@media (max-width: 768px) {
    .about {
        gap:50px;
        margin: 50px 6%;
        align-items: center;
    }

    .about-sections {
        flex-direction: column;
    }

    .about-left {
        display: none
    }

    .about-para {
        line-height: 25px
    }

    .about-skill p {
        font-size: 16px;
        min-width: 90px
    }

    .about-skill hr {
        height: 6px
    }
}

@media (max-width: 576px) {
    .about {
        align-items: center;
    }
}